<mat-toolbar color="primary">
  <span>Proyecto Final - ALED 3</span>

  <span style="flex: 1 1 auto"></span>

  <!-- Bloque que se muestra si NADIE ha iniciado sesión -->
  @if (currentUser() === null) {
  <button mat-stroked-button class="header-button" (click)="openRegisterDialog()">
    <mat-icon>person_add</mat-icon>
    <span>Registrarse</span>
  </button>

  <button mat-stroked-button class="header-button" (click)="openLoginDialog()">
    <mat-icon>login</mat-icon>
    <span>Iniciar Sesión</span>
  </button>
  }

  <!-- Bloque que se muestra si un USUARIO ha iniciado sesión -->
  @if (currentUser()) {
  <span class="welcome-message"> ¡Hola, {{ currentUser()?.nombre }}! </span>

  <!-- Botón de Administración: se muestra SÓLO si isAdmin() es true -->
  @if (isAdmin()) {
  <button mat-stroked-button class="header-button" routerLink="/administracion">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Administración</span>
  </button>
  }

  <button mat-stroked-button class="header-button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
  }

  <button
    mat-icon-button
    matTooltip="Ver carrito de compras"
    aria-label="Carrito de compras"
    class="header-button"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
